/* jQUery resets */
.ui-input-search,
div.ui-input-text {
    margin: 0 .1em !important;
}

/* styles */
#form,
#results {
    background: url("./img/noise.png"), #ddd !important;
}
.ui-grid-a {
    //background: #eee;
}
h1 {
    background: url("./img/t-estalvia.png") no-repeat 10px 0;
    line-height: 106px;
    height: 106px;
    padding-left: 200px
}
@media screen and (max-width: 400px) {
    h1 {
        background-position: center 10px;
        height: auto;
        line-height: 1em;
        padding-left: 0;
        padding-top: 136px;
        text-align: center;
    }
}
h3 {
    margin-top: 2em;
}
h3:first-child {
    margin-top: 0;
}

hr {
    box-shadow: 0 0 2px 1px #aaa;
    border: 0;
    height: 0;
    margin: 1em 0 -1em;
}
hr::after {
    content: "\00a0";
}
hr:first-child {
    margin-top: 0;
}
#form,
#results {
    margin: 0 auto;
    max-width: 500px;
}
input,
select {
    text-align: right;
}
input[readonly="readonly"] + label,
input[readonly="readonly"] + label:hover,
input[readonly="readonly"] + label:focus {
    color: #aaa;
    font-style: italic;
}
small {
    color: #aaa;
    font-size: 1em;
}
small strong {
    color: #555;
    font-weight: normal;
}
.preu-total {
    font-weight: bold;
}
.ui-field-contain .ui-controlgroup-controls {
    width: 100%;
}
.ui-grid-a {
    margin: .5em 0;
}
.ui-grid-a .ui-block-a > label,
.ui-grid-a .ui-block-a > span/*,
.ui-grid-a .ui-block-b:not("select")*/ {
    display: block;
    padding: .4em 0;
    white-space: nowrap;
}
.ui-grid-a .ui-block-b.block-b-number {
    float: right;
    width: 25%;
}
#results .ui-grid-a .ui-block-a {
    width: 74%;
        width: -moz-max-content;
        width: -webkit-max-content;
    width: max-content;
}
#results .ui-grid-a .ui-block-b {
    float: right;
    width: 20%;
        width: -moz-max-content;
        width: -webkit-max-content;
    width: max-content;
}
.ui-grid-a.contains-select .ui-block-a {
    line-height: 42px !important;
}
label.ui-input-text {
    line-height: inherit;
}
#viatges-totals,
#viatges-totals-setmana {
    padding-right: 8px;
}
.ui-grid-a .ui-block-b {
    text-align: right;
}
.imatge-bitllet {
    text-align: center;
}
@media screen and (min-width: 470px) {
    .imatge-bitllet {
        float: right;
        height: 148px;
        margin-top: -20px;
        opacity: .5;
        padding: 0 0 0 20px;
        transition: all .4s;
            -webkit-transform: rotate(7deg);
        transform: rotate(7deg);
    }
    .imatge-bitllet.visible {
        margin-top: 0;
        opacity: 1;
            -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
}
