/* jQUery resets */
.ui-input-search,
div.ui-input-text {
    margin: 0 .1em !important;
}

/* styles */

#form,
#results {
    margin: 0 auto;
    max-width: 500px;
}
input,
select {
    text-align: right;
}
input[readonly="readonly"] + label,
input[readonly="readonly"] + label:hover,
input[readonly="readonly"] + label:focus {
    color: #aaa;
    font-style: italic;
}
.preu-total {
    font-weight: bold;
}
.ui-field-contain .ui-controlgroup-controls {
    width: 100%;
}
.ui-grid-a {
    margin: .5em 0;
}
.ui-grid-a.contains-select {
    margin: 1em 0;
}
.ui-grid-a .ui-block-a > label,
.ui-grid-a .ui-block-a > span/*,
.ui-grid-a .ui-block-b:not("select")*/ {
    display: block;
    padding: .4em 0;
    white-space: nowrap;
}
.ui-grid-a .ui-block-b.block-b-number {
    float: right;
    width: 25%;
}
#results .ui-grid-a .ui-block-a {
    width: 74%;
}
#results .ui-grid-a .ui-block-b {
    width: 20%;
}
.ui-grid-a.contains-select .ui-block-a {
    line-height: 42px !important;
}
label.ui-input-text {
    line-height: inherit;
}
#viatges-totals,
#viatges-totals-setmana {
    padding-right: 8px;
}
.ui-grid-a .ui-block-b {
    text-align: right;
}
.imatge-bitllet {
    height: 148px;
    margin-top: -20px;
    opacity: .5;
    text-align: center;
    transition: all .4s;
        -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
}
.imatge-bitllet.visible {
    margin-top: 0;
    opacity: 1;
        -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}
@media screen and (min-width: 470px) {
    .imatge-bitllet {
        float: right;
        padding: 14px 0 0 20px;
    }
}